.mainDiv[b-nka80m0vlk] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm[b-nka80m0vlk] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 70px 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: 450px;
}
    
/* Title */
    .loginForm h2[b-nka80m0vlk] {
        cursor: pointer;
        color: #007bff;
        transition: color 0.2s ease-in-out;
    }

        .loginForm h2:hover[b-nka80m0vlk] {
            color: #0056b3;
        }


/* signup */
.signup a[b-nka80m0vlk] {
    text-decoration: none;
}
/* forgotPassword */
.forgotPassword a[b-nka80m0vlk]{
    cursor:pointer;
}

/*  buttons */
.btn.btn-primary[b-nka80m0vlk] {
    padding: 8px 20px;
}
.googleBtn[b-nka80m0vlk] {
    padding: 8px 50px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    height: 48px;
}
    .googleBtn:hover[b-nka80m0vlk] {
        background-color: #f1f1f1;
    }
    .googleBtn img[b-nka80m0vlk] {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
.RememberMe[b-nka80m0vlk] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}
