.mainDiv[b-9v79nbvolt] {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--header-height, 96px) + var(--categoryNav-height, 53px) + 10px);
    padding: 10px;
}
h2[b-9v79nbvolt] {
    margin-top: 20px;
}
p[b-9v79nbvolt] {
    margin-bottom: 0.3rem;
}
