.mainDiv[b-1ybcugm7u6] {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupForm[b-1ybcugm7u6] {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 70px 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    width: 450px;
}
   
/* Title */
.signupForm h2[b-1ybcugm7u6] {
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s ease-in-out;
}

 .signupForm h2:hover[b-1ybcugm7u6] {
    color: #0056b3;
}

.btn.btn-primary[b-1ybcugm7u6] {
    margin-top: 15px;
    padding: 8px 20px;
}

.btn.btn-primary:hover[b-1ybcugm7u6] {
    background-color: var(--btnBackgroundColorHover);
}
.loginLink a[b-1ybcugm7u6] {
    text-decoration: none;
}
@media (max-width: 768px) {
    .signupForm[b-1ybcugm7u6] {
        width: 90vw;
    }
}