.mainDiv[b-uhle1zd9yt] {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--header-height, 96px) + var(--categoryNav-height, 53px) + 10px);
    padding: 10px;
}
p[b-uhle1zd9yt] {
    margin-bottom: 0.3rem;
}


