.productsCart[b-zu75x5wtjo] {
    display: flex;
    gap: 8px;
    align-items: center;
}

    .productsCart input[b-zu75x5wtjo] {
        width: 60px;
        text-align: center;
    }
/* button */
.btnProduct[b-zu75x5wtjo],
.btnProductDecrease[b-zu75x5wtjo],
.btnProductAdded[b-zu75x5wtjo] {
    height: 35px;
    padding: 0 10px;
    border-radius: 6px;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.btnProduct[b-zu75x5wtjo] {
    background-color: var(--btnBackgroundColor);
}

    .btnProduct:hover[b-zu75x5wtjo] {
        background-color: var(--btnBackgroundColorHover);
    }

.btnProductAdded[b-zu75x5wtjo] {
    background-color: var(--btnBackgroundColorProductAdded);
}

    .btnProductAdded:hover[b-zu75x5wtjo] {
        background-color: var(--btnBackgroundColorProductAddedHover);
    }

.btnProductDecrease[b-zu75x5wtjo] {
    background-color: #ff6b6b;
}

    .btnProductDecrease:hover[b-zu75x5wtjo] {
        background-color: #e63946;
    }
/* لإخفاء الأسهم في Chrome, Safari, Edge */
input[type=number][b-zu75x5wtjo]::-webkit-inner-spin-button,
input[type=number][b-zu75x5wtjo]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* لإخفاء الأسهم في Firefox */
input[type=number][b-zu75x5wtjo] {
    -moz-appearance: textfield;
}
