.footer[b-ehr4h2dnz2] {
    background-color: var(--hederBackgroundColoe);
    color: white;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
    margin-top: auto;
}

    .footer > div[b-ehr4h2dnz2] {
        flex: 1;
    }

html[dir="rtl"] .footer[b-ehr4h2dnz2] {
    direction: ltr;
    text-align: left;
}

.logoDiv[b-ehr4h2dnz2] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
}
/* alle Header und arabsiche texts in Arabisch mode zu rechtseite scheben */
html[dir="rtl"] .footer div h3[b-ehr4h2dnz2],
html[dir="rtl"] .footer .linksDiv a[b-ehr4h2dnz2]{
    align-self: flex-end;
    text-align: right;
}
/* icons in arbaische mode in rechte seite bleiben */
html[dir="rtl"] .footer .icons[b-ehr4h2dnz2] {
    margin-left: auto; 
}

.contactDiv[b-ehr4h2dnz2] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
}

    .contactDiv h3[b-ehr4h2dnz2] {
        font-weight: bold;
    }


.contactDiv p[b-ehr4h2dnz2] {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

        .contactDiv p span[b-ehr4h2dnz2] {
            color: #ffffff;
            cursor: pointer;
        }

            .contactDiv p span:hover[b-ehr4h2dnz2] {
                color: #808080;
            }
.socialMedia[b-ehr4h2dnz2]{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:10px;
    gap:10px;
}
    .socialMedia h3[b-ehr4h2dnz2]{
        font-weight:bold;
    }
    .icons[b-ehr4h2dnz2] {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .icons a i[b-ehr4h2dnz2]{
        font-size:30px;
    }
.linksDiv[b-ehr4h2dnz2] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    gap: 10px;
}

    .linksDiv h3[b-ehr4h2dnz2] {
        font-weight: bold;
    }

    .linksDiv a[b-ehr4h2dnz2] {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 20px;
        color: #ffffff;
        text-decoration: none;
    }

        .linksDiv a:hover[b-ehr4h2dnz2] {
            color: #808080;
        }

.mapDiv[b-ehr4h2dnz2] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

    .mapDiv h3[b-ehr4h2dnz2] {
        font-weight: bold;
    }

    .mapDiv a[b-ehr4h2dnz2] {
        width: 100%;
    }

.iframe[b-ehr4h2dnz2] {
    width: 100%;
    height: clamp(150px, 40vw, 220px);
}

@media (max-width: 768px) {
    .footer[b-ehr4h2dnz2] {
        flex-direction: column;
        align-items: stretch;
        gap: 15px;
    }

        .footer > div[b-ehr4h2dnz2] {
            width: 100%;
            padding: 5px;
        }

    .icons[b-ehr4h2dnz2] {
        flex-direction: row;
        gap: 15px;
    }
    h3[b-ehr4h2dnz2]{
        font-size:22px;
    }
    .contactDiv p[b-ehr4h2dnz2] {
        font-size: 18px;
    }
    .linksDiv a[b-ehr4h2dnz2] {
        font-size: 18px;
    }

}

