.topProductCardDiv[b-fl7dcog4bs] {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:2px;
}

.topProductCardBtn[b-fl7dcog4bs] {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    font-size: 20px;
}
.topProductCardBtn:hover[b-fl7dcog4bs] {
}

    .topProductCardBtn:hover i.bi-box-arrow-up[b-fl7dcog4bs] {
        color: #0d6efd; 
    }

    .topProductCardBtn:hover i.bi-heart[b-fl7dcog4bs] {
        color: #dc3545; 
    }

    .topProductCardBtn i.bi-heart-fill[b-fl7dcog4bs] {
        color: #dc3545;
    }

@media (max-width: 768px) {
    .topProductCardDiv[dir="rtl"][b-fl7dcog4bs] {
        justify-content: flex-end;
    }

    .topProductCardDiv[dir="rtl"][b-fl7dcog4bs] {
        justify-content: flex-start;
    }
}
